

---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout>
    <section aria-label="Hero-Section" class="hero__section">
        <div class="hero__content">
            
            <h1>Hi! My name is</h1>
            <span class="name">Jack</span>
            <p class="slogan">I empower your growth with software solutions.</p>
            <p class="lead">I thrive on creating immersive and innovative digital ecosystems as a forward-thinking software engineer, pushing the boundaries of what's possible.</p>

            <button type="button" class="btn">Let's Work!</button>
        </div>
    </section>

    <section aria-label="About">
        <div class="about">
            <div class="about__content">
                <h2 class="about__content-header">About Me</h2>

                <p>Hello, and welcome to my portfolio! I'm Jack, a <span>full-stack developer</span> who enjoys crafting digital experiences that leave a lasting impression. I thrive in turning ideas into reality through code. My journey as a software developer has been an exciting one, filled with countles opportunities to learn, grow, and create.</p>

                <p>In my spare time, I enjoy <span>contributing</span> to the <span>open-source</span> community and <span>attending tech meetups</span>. These activities allow me to engage with other talented professionals and <span>broaden my knowledge base</span>.</p>

                <p>I am thrilled by the opportunity to work on challenging projects that have a meaningful impact. If you are looking for a dedicated and versatile software developer who can bring your ideas to life, <span>I would love to connect with you</span>. Let's collaborate and create exceptional software together.</p>

                <p>Thank you for taking the time to visit my portfolio. I look forward to hearing from you!</p>


            </div>

            <!-- <div class="about__img">
                <img src="/assets/nubelson-fernandes-mid.jpg" class="about-img" alt="">
            </div> -->

        </div>
    </section>

    <section aria-label="Services">
        <div class="services__content">
            <h2 class="service__header">Services</h2>

        </div>
    </section>

    <!-- <CTA /> -->
</Layout>


<style>

    .hero__section {
        min-height: 60vh;
        display: grid;
        place-items: center;
    }

    .hero__content {
        width: min(90%, 1200px);
        margin-inline: auto;
        display: grid;
    }

    .hero__content h1 {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--clr-accent-3);
    }


    .hero__content span {
        font-size: clamp(2rem, 5vw + .5rem, 5rem);
        color: rgb(255 255 255 / .85);
    }

    .hero__content .slogan {
        font-size: clamp(2rem, 5vw + .5rem, 5rem);
        line-height: 1.1;
        color: rgb(255 255 255 / .6);

    }

    .hero__content .lead {
        font-size: clamp(1rem, 2vw + .5rem, 1.5rem);
        padding-block-start: 1.5rem;
        width: min(90%, 1100px);
        color: rgb(255 255 255 / .7);

    }

    .hero__content .btn {
        border: none;
        background-color: #fff;
        font-size: clamp(1rem, 1.5vw + .5rem, 1.5rem);
        font-weight: 600;
        padding: .8em;
        color: var(--clr-accent-3);
        border-radius: 10px;
        transform: scale(1);
        transition: transform 500ms ease-in-out;
        cursor: pointer;
        width: fit-content;
        margin-block: 2rem;
    }

    .hero__content .btn:hover {
        color: #000;
        transform: scale(1.1);
    }


    .about__content {
        width: min(90%, 1400px);
        margin-inline: auto;
        margin-block: 2rem;
        display: grid;
        gap: 1.5rem;
    }


    .about__content-header {
        position: relative;
        color: var(--clr-accent-3);
    }

    .about__content p {
        font-size:  clamp(1rem, 1.2vw + .5rem, 2rem);
        color: rgb(255 255 255 / .8);

    }

    .about__content span {
        color: var(--clr-accent-3);
    }

    .services__content {
        width: min(90%, 1400px);
        margin-inline: auto;
    }


    .service__header {
        color: var(--clr-accent-3);
    }

    .services__content .webDesign__content,.services__content .marketing__content {
        list-style: none;
    }

    .services__content .webDesign__content li::before,.services__content .marketing__content li::before {
        content: "\2022";  
        color: var(--clr-accent-3); 
        font-weight: bold; 
        display: inline-block; 
        width: 1em; 
        margin-left: -1em; 

    }


    /* .about {
        width: min(90%, 1200px);
        margin: auto;
        padding-block: 2rem;
        text-align: center;
    }

    .about__content {
        display: grid;
        justify-items: center;
        gap: 2rem;    
    }

    .about__content h2 {
        font-size: clamp(2rem, 2vw + .5rem, 3rem);
        color: var(--clr-accent-3);
    }

    .about__content p {
        font-size: clamp(1.2rem, 1.2vw + .5rem, 2rem);

    }

    img {
        display: none;
    }

    .cards__container {
        display: grid;
        justify-items: center;
        align-content: center;
        gap: 2rem;
    }

    @media screen and (min-width: 768px) {
        .cards__container {
            display: flex;
            justify-content: center;
        }
    }

    @media screen and (min-width: 1024px) {
        
        .hero__section {
            margin-block-start: 3rem;
            margin-block-end: 5rem;
        }
        .hero__content {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "img h1" "img button";
            background-image: none;
            background-color: transparent;
            padding: unset;
            width: min(75%, 1100px);
            margin-inline: auto;
        }

        img {
            display: inline-block;
            grid-area: img;
            border-radius: 5px;
        }

        h1 {
            grid-area: h1;
        }

        button {
            grid-area: button;
        }
    } */
</style>








