

---
import Layout from "../layouts/Layout.astro"
import Button from "../components/Button.astro"
import CTA from "../components/CTA.astro";
import Card from "../components/Card.astro";
---

<Layout>
    <section aria-label="Hero-Section" class="hero__section">
        <div class="hero__content">
            <img src="/assets/nubelson-fernandes-mid.jpg" alt="">
            <h1>Crafting Digital Brilliance: Elevating your Business Through Code.</h1>
            <Button title="Let's Work Together" />
        </div>
    </section>

    <section aria-label="About">
        <div class="about">
            <div class="about__img">

            </div>

            <div class="about__content">
                <h2>About Me</h2>

                <p>Hello, and welcome to my portfolio! I'm Jack, a front-end developer who enjoys crafting digital experiences that leave a lasting impression. I thrive in turning ideas into reality through code. My journey as a software developer has been an exciting one, filled with countles opportunities to learn, grow, and create.</p>

                <p>In my spare time, I enjoy contributing to the open-source community and attending tech meetups. These activities allow me to engage with other talented professionals and broaden my knowledge base.</p>

                <p>I am thrilled by the opportunity to work on challenging projects that have a meaningful impact. If you are looking for a dedicated and versatile software developer who can bring your ideas to life, I would love to connect with you. Let's collaborate and create exceptional software together.</p>

                <p>Thank you for taking the time to visit my portfolio. I look forward to hearing from you!</p>

                <!-- <Button title="Go To My Portfolio" /> -->

            </div>
        </div>
    </section>

    <section aria-label="Services" class="cards__container">
        <h2>Services</h2>
        <Card title="Design" link="design" image="Design"/>
        <Card title="Web Design" link="webDesign" image="WebDev"/>
        <Card title="Online Marketing" image="Marketing"/>
    </section>

    <CTA />
</Layout>


<style>

    .hero__content {
        display: grid;
        justify-items: center;
        align-content: center;
        gap: 2rem;
        text-align: center;
        padding-block: 8rem;
        color: #fff;
        background: rgb(0 0 0 / .5);
        background-image: url(/assets/nubelson-fernandes-small.jpg);
        background-blend-mode: multiply;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -100px;
    }


    h1 {
        width: min(90%, 700px);
        margin: auto;
        font-size: clamp(1.4rem, 2vw + .5rem, 2rem);
    }

    .about {
        width: min(90%, 1200px);
        margin: auto;
        padding-block: 2rem;
        text-align: center;
    }

    .about__content {
        display: grid;
        justify-items: center;
        gap: 2rem;    
    }

    .about__content h2 {
        font-size: clamp(2rem, 2vw + .5rem, 3rem);
        color: var(--clr-accent-3);
    }

    .about__content p {
        font-size: clamp(1.2rem, 1.2vw + .5rem, 2rem);

    }

    img {
        display: none;
    }

    .cards__container {
        display: grid;
        justify-items: center;
        align-content: center;
        gap: 2rem;
    }

    @media screen and (min-width: 768px) {
        .cards__container {
            display: flex;
            justify-content: center;
        }
    }

    @media screen and (min-width: 1024px) {
        
        .hero__section {
            margin-block-start: 3rem;
            margin-block-end: 5rem;
        }
        .hero__content {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "img h1" "img button";
            background-image: none;
            background-color: transparent;
            padding: unset;
            width: min(75%, 1100px);
            margin-inline: auto;
        }

        img {
            display: inline-block;
            grid-area: img;
            border-radius: 5px;
        }

        h1 {
            grid-area: h1;
        }

        button {
            grid-area: button;
        }
    }
</style>


