
---
import Button from "./Button.astro";
---


<section aria-label="Call-To-Action">
    <h2>Interested in doing a project together?</h2>

    <Button title="Contact Me" />
</section>


<style>
    section {
        display: grid;
        place-items: center;
        gap: 2rem;
        margin-block: 2rem;
        text-align: center;
        width: min(90%, 1400px);
        margin-inline: auto;
    }

    h2 {
        color: var(--clr-accent-3);
    }

    @media screen and (min-width: 768px ) {
        section {
            gap: unset;
            grid-template-columns: 1fr 1fr;
            border-top: 1px solid var(--clr-accent-2);
            padding-block: 2rem;
        }

        h2 {
            font-size: clamp(1.5rem, 2.5vw + .5rem, 3rem);
            padding-inline-start: 2rem;
        }
    }
</style>

