
---
import Header from "../components/Header.astro";
import Footer from "../components/footer.astro";
import "../styles/reset.css";
export interface Props {
	title?: string;
}

const {title = "Jack WebDev | Design, Online Marketing & Website Development"} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="JW | Software Developer | Freelancer">
    <meta property="og:description" content="Hire A Professional Freelancer & Software Developer. Building interactive experiences with a focus on responsiveness and accesibility">
    <meta name="theme-color" content="#12395d">
    <meta property="type" content="website">
    <!-- <meta property="og:url" content="https://jackwebdev.online"> -->
    <meta property="og:site_name" content="Jack WebDev">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@JackWebDev31">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="Assets/Favicon.png"/> -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=GFS+Didot&family=Lato:ital@1&family=Vujahday+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53f1cddc49.js" crossorigin="anonymous"></script>

    <title>{title}</title>
</head>
<body>
	<Header/>
	<slot/>
    <Footer />
</body>
</html>

